#banner {
  text-align: center;
  background-image: url("images/festival.jpg");
  background-size: cover;
  height: 1000px;
  padding: 150px;
  text-shadow: 1px 1px 1px grey;
}

#banner h1 {
 font-family: 'Sriracha', cursive;
 color: white;
 padding-top: 80px;
 font-size: 72px;
}

#banner p {
 font-family: 'Comfortaa', cursive;
 color: white;
 font-size: 20px;
 margin-bottom: 48px;
 margin-top: 24px;
}

.btn-info {
  padding: 8px 24px;
  border-radius: 5px;
  background-color: #f9aa80;
  margin-top: 56px;
}
