


.min-height {
  min-height: calc(100vh - 210px);
}

.home-banner {
  background-image: url("https://res.cloudinary.com/dzjxqunz7/image/upload/v1598529063/silhouette_dgra62.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    font-family: electronicadisplay, serif;
    color: white;
    // padding-top: 32px;
    padding-bottom: 32px;
    font-size: 32px;

    @media (max-width: 540px) {
      // padding-top: 56px;
      padding-bottom: 24px;
      font-size: 24px;
      padding-top: 12px;
    }
  }

  h3 {
    font-family: electronicadisplay, serif;
    color: white;
    font-size: 24px;


    @media (max-width: 540px) {
    padding-top: 32px;
    }
  }

  p {
    color: white;
    font-family: 'comfortaa';


    @media (max-width: 540px) {
      margin-bottom: 0px;
      font-size: 12px;
    }
  }
}

.homepage-go {
  margin-top: 8px;
}

.festipal-steps {
  margin-bottom: 0px;
  margin-top: 4px;
  background-color: #c4a0b9b3;
  border-radius: 5px;
  padding: 4px;
}

#search_id {
  background-color: #665b8a;
  color: white;
  // border: 1px solid white;
  box-shadow: 0 0 8px ;
  width: 35vw;
  border: none;
  border-radius: 5px;


  input: focus {
    outline: #90b1eb;
  }

  @media (max-width: 540px) {
    width: 60vw;
  }
}

// centers dropdown options
select {
   text-align-last: center;
   text-align: center;
   -ms-text-align-last: center;
   -moz-text-align-last: center;
}

//  /* For a screen < 960px, this CSS will be read */
// @media (max-width: 960px) {
//   .min-height {
//   min-height: calc(100vh - 210px);
//   }
// }

//   /* For a screen < 720px, this CSS will be read */
// @media (max-width: 720px) {
//   .min-height {
//     min-height: calc(100vh - 210px);
//   }
// }
//   /* For a screen < 540px, this CSS will be read */
// @media (max-width: 540px) {
//   .min-height {
//     min-height: calc(100vh - 210px);
//   }
// }
