.schedule {
  height: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
}

.festipal-container {
  // margin: 20px auto;
  width: 100%;
  background:url('https://res.cloudinary.com/dzjxqunz7/image/upload/v1598529063/silhouette_dgra62.jpg');
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  color: white;
  height: 100vh;
}

h1 {
  margin-top: 30px;

  @media (max-width: 540px) {
    margin-top: 10px;
  }
}

h2 {
  padding-bottom: 20px;
  font-size: 20px;
}

.suggestions {
  background: rgba(255, 255, 255, 0.75);
  height: 200px;
  width: 100%;
  margin-top: 20px;
  // margin-top: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
