@font-face {
  font-family: electronicadisplay;
  src: font-url("electronicadisplay.otf");
  }

.festival-name {
  font-family: electronicadisplay, sans-serif;
  margin-top: 0px;
  color: white;
}

.show-page {
  background:url('https://res.cloudinary.com/dzjxqunz7/image/upload/v1598529063/silhouette_dgra62.jpg');
  background-size: cover;
  background-position: center;

// 'Change Day' Dropdown Styling - Fri/Sat/Sun
  .dropdown-menu.show {
    background-color: #c4a0b9!important;
  }

  .nav-item.dropdown.show {

    .dropdown-toggle {
    background-color: #c4a0b9!important;
    color: white;
    }
  }
}

// 'Change Day' Dropdown Styling
.nav-link.dropdown-toggle {
  border: 1px solid white;
  margin-bottom: 16px;

  @media (max-width: 540px) {
    margin-bottom: 0;
  }
}

.display-day-of-week {
  color: white;
  text-align: center;
  padding-top: 4px;
  font-family: electronicadisplay;
}

.comfortaa-font {
  font-family: 'comfortaa'!important;
  font-size: 12px;
}

#search_id2 option {
  background-color: #c4a0b9;
}

// .name-artist {
//   color: #343a40;
// }

.colored-time {
  color: #07377e !important;
  font-weight: bold;
}

.populate-schedule {

  @media (max-width: 540px) {
    font-size: 8px;
  }
}
.filler1 {
  height: 220px;
}

.filler-small {
  height: 110px;
}

