<div class="footer mt-auto d-flex justify-content-space-between">

<!--  <div class="extra-links">
   <ul >
     <li>Quick Links</li>
     <li>Contacts</li>
     <li>Help</li>
     <li>Site Map</li>
     <li>Careers</li>
   </ul>
 </div>
 -->
  <div class="container">
    <%= link_to root_path do %>
    <%= image_tag "logo-white.png", class: "footer-img" %>
    <% end %>
    <br>
    <div class="social">
      <ul>
        <li class="list">
          <a href="https://wwww.facebook.com" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-facebook-f" aria-hidden="true"></span>
          </a>
        </li>
        <li class="list">
          <a href="https://twitter.com/home" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-twitter" aria-hidden="true"></span>
          </a>
        </li>
        <li class="list">
          <a href="https://www.instagram.com/" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-instagram" aria-hidden="true"></span>
          </a>
        </li>
        <li class="list">
          <a href="https://www.github.com/" target="_blank">
            <span></span>
            <span></span>
            <span></span>
            <span class="fab fa-github" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>

    <p id='authors'> <a href='https://www.github.com/carabell94' target="_blank">Cara Bell •</a>  <a href='https://www.github.com/lyubodias' target="_blank"> Lyubomir Dias • </a> <a href='https://www.github.com/MrShaunLennon' target="_blank"> Shaun Lennon • </a> <a href='https://www.github.com/rekeny' target="_blank"> Fernando Requeni Nacher </a></p>
  </div>


</div>
