.lineup {
  font-size: 16px;
  color: #343a40;
  &:hover {
    text-decoration: none;
  }

  @media (max-width: 540px) {
    font-size: 15px;
  }

  p {
    font-family: electronicadisplay;
  }
}

.disabled-lineup {
  pointer-events: none;
  // cursor: not-allowed;
  span {
    pointer-events: none;
  }
  color: #c6a1bc !important;
  &:hover {
    text-decoration: none;
    color: #c6a1bc !important;
  }
}

