.render-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.festival-name {
  color: white;
}

.font-electronica {
  font-family: electronicadisplay;
}

.suggestions {
  font-family: electronicadisplay;
  font-size: 12px;
  color: black;
}

.schedule {
  font-family: electronicadisplay;
  font-size: 12px;
  color: black;
}

.schedule-header {
  font-family: electronicadisplay;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.suggestions-header {
  color: white;
  font-size: 16px;
}

