.render-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.festival-name {
  color: white;
}

.font-electronica {
  font-family: electronicadisplay;
}

.suggestions {
  font-family: electronicadisplay;
  font-size: 12px;
  color: black;
}

.schedule {
  font-family: electronicadisplay;
  font-size: 12px;
  color: black;
  height: 400px!important;
  overflow-y: scroll!important;
}

.schedule-header {
  font-family: electronicadisplay;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.suggestions-header {
  color: black;
  font-size: 20px;

  h2 {
    font-family: electronicadisplay;
  }
}

.scroll-div {
  overflow-y: scroll !important;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.rounded-corners {
  border-radius: 10px;
}

.highlights-p-tag {
  font-family: 'comfortaa', serif;

  @media (max-width: 540px) {
    font-size: 10px;
  }
}

.social-highlight-card {

  @media (max-width: 540px) {
    height: 40px;
    margin-bottom: 16px;
  }
}

