.render-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px !important;

  @media (max-width: 540px) {
    margin-top: 25px !important;
    justify-content: space-around;
  }
}
.festival-name {
  color: white;
}

.font-electronica {
  font-family: electronicadisplay;
  font-weight: bold;
}

.suggestions {
  font-family: electronicadisplay;
  font-size: 12px;
  color: black;
}

.schedule {
  font-family: electronicadisplay;
  font-size: 12px;
  color: black;
  height: 400px!important;
  overflow-y: scroll!important;
}

.schedule-header {

  h1 {
    font-family: electronicadisplay;
    font-size: 24px;
    font-weight: bold;
    color: black;

    @media (max-width: 540px) {
      font-size: 18px;
    }
  }
}

.suggestions-header {
  color: black;
  font-size: 20px;

  h2 {
    font-family: electronicadisplay;
  }
}

.scroll-div {
  overflow-y: scroll !important;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 10px;
}

.highlights-p-tag {
  font-family: 'comfortaa', serif;

  @media (max-width: 540px) {
    font-size: 10px;
  }
}

.social-highlight-card {
  width: 30vw;

  @media (max-width: 540px) {
    margin-bottom: 16px;
    width: 80vw;
  }
}

.social-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  @media (max-width: 540px) {

  }
}

.youtube {
  min-width: 480px;

  iframe {
    width: 100%;
  }

  @media (max-width: 540px) {
    min-width: 300px;
  }
}

.artists-generated-p {
  font-size: 12px;
  font-family: 'comfortaa', serif;

  @media (max-width: 540px) {
    font-size: 8px;
  }
}

.size-16px {
  font-size: 16px;
  margin-top: 8px;

  @media (max-width: 540px) {
    font-size: 14px;
    margin-top: 4px;
  }
}

.colored-artist {
  color: #343a40 !important;
}

// Update Details Page
.back-button-styling {
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  padding: 4px;
}

// PDF STYLING
.container-pdf {
  background-color: rgba(1, 18, 26, 0.4);
  color: white;
  margin: 0 auto;
  width: 500px;
}

.pdf-day-styling {
  font-weight: bold;
  color: #01121d;
  text-shadow: 1px 1px 2px #c6a1bc;
}

.pdf-suggestions-styling, .pdf-header-styling {
  font-weight: bold;
  text-shadow: 2px 2px 2px #c6a1bc;
}


// ICON COLOURS
.fa-times-circle {
  color: #645487;
}

.fa-check {
  color: #c6a1bc;
}

.fa-minus-square {
  color: #c6a1bc;
}

  .fa-plus-square:before {
    color: #343a40;
  }

  // SCROLL SNAP CSS
.scroll-div {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

}

.section {
  scroll-snap-align: start;
}


// html {
//     scroll-snap-type: mandatory;
//     scroll-snap-points-y: repeat(100vh);
//     scroll-snap-type: y mandatory;
// }
// .section {
//     border-bottom: 1px solid white;
//     padding: 1rem;
//     height: 100vh;
//     scroll-snap-align: start;
//     text-align: center;
//     position: relative;
// }


