
<div class="home-banner text-center">
  <%= video_tag "https://res.cloudinary.com/dzjxqunz7/video/upload/v1599067748/video_dqors0.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "myVideo", playsinline: true %>
  <h3 class="anime"><span class="pink-highlight">FestiPal takes the stress out of your festival experience.</span></h3>


  <div class="css-typing">
    <h3>
      1. Choose your festival
    </h3>
    <h3>
      2. Check out the lineup
    </h3>
    <h3>
      3. Start building your FestiPlan
    </h3>
  </div>
    <h4 class='text-center mt-3'>Ready to get started?</h4>
    <%= render 'pages/partials/initial_dropdown' %>
    <br>
    <div class="filler-small">
    </div>
</div>
