<%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "myVideo" %>
<div class="home-banner text-center">
  <br>
  <br>
  <h3 class="anime">FestiPal takes the stress out of your festival experience.</h3>
  <br>
  <br>


  <br>
      <h3 id="demo"></h3>

  <h4 class='text-center mt-3'>Ready to get started?</h4>
  <%= render 'pages/partials/initial_dropdown' %>

</div>


<script>
  var i = 0;
  var txt = "1. Choose your festival 2. Check out the lineup 3. Start building your FestiPlan";
  var speed = 80;

  function typeWriter() {
    if (i < txt.length) {
      document.getElementById("demo").innerHTML += txt.charAt(i);
      i++;
      setTimeout(typeWriter, speed);
    }
  }
  window.onload = typeWriter();
</script>








