
<div class="home-banner text-center">
  <h3>FestiPal takes the stress out of your festival experience.</h3>
  <div class="festipal-steps">
    <p>1. Choose your festival</p>
    <p>2. Check out the lineup</p>
    <p>3. Start building your FestiPlan</p>
  </div>
  <h4 class='text-center mt-3'>Ready to get started?</h4>

  <%= render 'pages/partials/initial_dropdown' %>
</div>

