<div class="initial-form form-group text-center">
  <%= simple_form_for :search, url: festival_path(@festival), method: 'GET' do |f| %>
  <%= f.input :name, collection: %w(Glastonbury Boomtown Wilderness), label: 'Choose a Festival' %>
  <%= f.submit 'Go', class: 'btn btn-info' %>
  <% end %>
</div>

<!--
need to make 'go' submit the form
need to style -->
