<% if @festival.name == 'Glastonbury' %>
  <a class="twitter-timeline" data-width="400" data-height="450" data-theme="dark" href="https://twitter.com/glastonbury?ref_src=twsrc%5Etfw">Tweets by glastonbury</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% elsif @festival.name == 'Boomtown' %>
  <a class="twitter-timeline" data-width="400" data-height="450" data-theme="dark" href="https://twitter.com/BoomtownFair?ref_src=twsrc%5Etfw">Tweets by BoomtownFair</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% else %>
  <a class="twitter-timeline" data-width="400" data-height="450" data-theme="dark" href="https://twitter.com/WildernessHQ?ref_src=twsrc%5Etfw">Tweets by Wilderness</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>
