<div class="render-wrapper mt-5">
    <div>
      <%= render 'pages/partials/spotify' %>
    </div>
    <div class="mb-3">
      <%= render 'pages/partials/instagram' %>
    </div>
    <div class="mb-3">
      <%= render 'pages/partials/youtube' %>
    </div>
    <div class="mb-3">
      <%= render 'pages/partials/twitter' %>
    </div>
  <!-- </div>
  if statement to display the information of the selected festival
</div> -->
</div>
