<div class="day-dropdown">
  <h1 class='font-electronica'>Schedule</h1>
  <p class="populate-schedule pink-highlight">Choose a day then select artists to populate your personal schedule.</p>
  <%= render 'festivals/partials/dropdown-day', festival: festival %>
</div>


