<div class="day-dropdown">
<h1>Schedule</h1>
<p>Please select artists to populate your personal schedule.</p>
  <%= render 'festivals/partials/dropdown-day', festival: festival %>
</div>

<h1 class='font-electronica'>Schedule</h1>
<p>Please select artists to populate your personal schedule.</p>



