.footer{
  text-align: center;
  padding: 10px;
  background-color: #1f292f !important;
  p {
    color: white;

  @media (max-width: 540px) {
      margin-bottom: 0px;
    }
  }

  @media (max-width: 540px) {
    padding: 8px;
  }
}


// .festipal-2020 {
//   font-size: 10px;
//   padding-top: 24px;

//   @media (max-width: 540px) {
//     font-size: 8px;
//     padding-top: 8px;
//   }
// }

#authors {
  font-size: 12px;
  margin-top: 16px;

  @media (max-width: 540px) {
    font-size: 10px;
    margin-top: 0px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
// .social {
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   margin: 0;
//   padding: 0;
//   display: flex;
// }
// .social li {
//   list-style: none;
// }
// .social li a {
//   display: block;
//   position: relative;
//   width: 30px;
//   height: 30px;
//   line-height: 30px;
//   font-size: 20px;
//   text-align: center;
//   text-decoration: none;
//   color: white;
//   margin: 0 20px;
//   transition: 0.5s;

//   @media (max-width: 540px) {
//     width: 12px;
//     height: 12px;
//     line-height: 12px;
//     font-size: 8px;
//     margin: 0 8px;
//   }
// }
// .social li a span {
//   position: absolute;
//   transition: transform 0.5s;
// }
// .social li a span:nth-child(1),
// .social li a span:nth-child(3) {
//   width: 100%;
//   height: 1px;
//   background: white;
// }
// .social li a span:nth-child(1) {
//   top: 0;
//   left: 0;
//   transform-origin: right;
// }
// .social li a:hover span:nth-child(1) {
//   transform-origin: left;
//   transform: scaleX(0);
//   transition: transform 0.5s;
// }
// .social li a span:nth-child(3) {
//   bottom: 0;
//   left: 0;
//   transform-origin: left;
// }
// .social li a:hover span:nth-child(3) {
//   transform-origin: right;
//   transform: scaleX(0);
//   transition: transform 0.5s;
// }

// .social li a span:nth-child(2),
// .social li a span:nth-child(4) {
//   width: 1px;
//   height: 100%;
//   background: white;
// }
// .social li a span:nth-child(2) {
//   top: 0;
//   left: 0;
//   transform: scaleY(0);
//   transform-origin: bottom;
// }
// .social li a:hover span:nth-child(2) {
//   transform-origin: top;
//   transform: scaleY(1);
//   transition: transform 0.5s;
// }
// .social li a span:nth-child(4) {
//   top: 0;
//   right: 0;
//   transform: scaleY(0);
//   transform-origin: top;
// }
// .social li a:hover span:nth-child(4) {
//   transform-origin: bottom;
//   transform: scaleY(1);
//   transition: transform 0.5s;
// }

ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
}

ul li.list {
  position: relative;
  list-style-type: none;
  width: 40px;
  height: 40px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
  display: flex!important;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px!important;
}

ul li.list:hover span:nth-child(5) {
  transform: translate(40px,-40px);
  opacity: 1;
}

ul li.list:hover span:nth-child(4) {
  transform: translate(30px,-30px);
  opacity: .8;
}
ul li.list:hover span:nth-child(3) {
  transform: translate(20px,-20px);
  opacity: .6;
}
ul li.list:hover span:nth-child(2) {
  transform: translate(10px,-10px);
  opacity: .4;
}
ul li.list:hover span:nth-child(1) {
  transform: translate(0px,-0px);
  opacity: .2;
}


ul li.list:nth-child(1) span {
  background: #2169FA;
}

ul li.list:nth-child(2) span {
  background: #1DA2F1;
}

ul li.list:nth-child(3) span {
  background: #BA1C7C;

}

ul li.list:nth-child(4) span {
  background: #000;
}

.social {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
  @media (max-width: 768px) {
    display: none;
}
}

.footer-img {
  width: 250px!important;
  padding-bottom: 20px;
}









