.navbar-lewagon {
  justify-content: space-between;
  background: #C6A2BB;

  .nav-link {
  color: white!important;
  font-family: 'comfortaa';
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.img-wrap {
  margin: 0 auto;
  padding-left: 56px;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
.dropdown-menu {
  border-radius: 5px;
  background-color: rgba(197, 162, 187, .4);
  padding: 0;
  margin: 5px 0;
}

.dropdown-item {
  padding-left: 24px!important;
  padding-right: 0!important;
}

.show .dropdown-menu {
position: absolute;
top: 34px;
right: -50px;
background-color: lightgrey;
}

.menu1 {
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: rgba(197, 162, 187, .7);
}


.menu1 li a {
  text-decoration: none;
  list-style: none;
  color: black;
  line-height: 40px;
  padding: 6px 20px;
  transition: 0.5s;
}

.menu1 li {
  display: inline;
}

