.navbar-lewagon {
  justify-content: space-between;
  background: #C6A2BB;

  .nav-link {
  color: black!important;
  font-family: 'comfortaa';
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-brand img {
  width: 100px;
}
.dropdown-menu {
  border-radius: 5px;
  background-color: #c6a1bc;
  padding: 0;
  margin: 5px 0;
}

.dropdown-item {
  padding-left: 24px!important;
  padding-right: 0!important;
}

.show .dropdown-menu {
position: absolute;
top: 34px;
right: -50px;
background-color: lightgrey;
}

.menu1 {
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: #d3bbcc;
  display: flex;
  font-size: 12px;

  .active {
   color: white;
  }
}


.menu1 li a {
  text-decoration: none;
  list-style: none;
  color: black;
  line-height: 40px;
  padding: 6px 20px;
  transition: 0.5s;

  @media (max-width: 540px) {
  }
}

.menu1 li {
  display: inline;
  margin: 0 auto;
}

.sub-navbar {
  font-size: 12px;
}

#search_id2 {
  background-color: #d3bbcc;
  color: black;
  // box-shadow: 0 0 8px ;
  width: 125px !important;
  border: 1px dotted black;
  border-radius: 5px;
  height: 30px;
  margin-top: 5px;
  font-size: 12px;
  margin-left: 8px;

  input: focus {
    outline: #d3bbcc;
  }

  @media (max-width: 540px) {
    width: 60vw;
  }
}

.centring-subnav-headers {
  margin: 0 auto;
  padding-right: 135px;

  @media (max-width: 540px) {
    margin: 0;
    padding-right: 0px;
  }
}



