.outter {
  background-image: url("https://res.cloudinary.com/dzjxqunz7/image/upload/q_auto,f_auto,fl_lossy/v1598529063/silhouette_dgra62.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
}
.color {
  color: white;
  padding: 0;
}

label.string, label.email, label.password, .form-text.text-muted {
  color: white;
}


.fb1 {
  position: relative;
  height: 70px;
  margin: 0 auto;

  @media (max-width: 540px) {
    height: 50px;
  }

  .custom-links {
    color: black;
    background-color: rgb(197,162,187);
    padding: 5px;
    border-radius: 10px;
    line-height: 40px;
  }
  .btn {
    position: absolute;
    right: 40px;
    bottom: -36px;
  }
}


.header2 {
  color: white;
  font-size: 24px;
}

.container {
  // height: auto;
  align-content: center;
  margin: 0 auto;
}

.card1{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.card-header1 {
  background: rgba(255, 255, 255, 0.7)!important;
  border-radius: 10px!important;
  padding: 0.75rem 1.25rem;
  position: relative;
  top: -40px;
  height: auto;
  margin: 20px auto;
}

.social_icon span:hover{
  color: rgb(197,162,187);
  cursor: pointer;
}


.input-group-prepend span{
  background-color: rgb(197,162,187);
  color: black;
  border:0 !important;
  border-radius: 10px;
}

