.outter {
background-image: url("https://res.cloudinary.com/dzjxqunz7/image/upload/v1598529063/silhouette_dgra62.jpg");
background-size: cover;
background-position: center;
width: 100%;
margin: 0 auto;
height: 100vh;
}

.fb .custom-links {
  color: black;
  background-color: rgb(197,162,187);
  padding: 5px;
  border-radius: 10px;
  line-height: 40px;
}

.fb .btn {
position: absolute;
right: 60px;
bottom: -24px;
}

.email {
  // color: white;
}

.header2 {
color: white;
font-size: 24px;
}

.container{
height: 100%;
align-content: center;
margin: 0 auto;
}

.card-header {
border-bottom: none;
}

.card{
height: 320px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.3) !important;
border-radius: 10px;
}


.social_icon span:hover{
color: rgb(197,162,187);
cursor: pointer;
}


.input-group-prepend span{
background-color: rgb(197,162,187);
color: black;
border:0 !important;
border-radius: 10px;
}

