.show-tabs {
  // overflow: scroll;
  // min-height: calc(100vh - 265px);

  @media (max-width: 540px) {
    height: 56vh;
    min-height: calc(100vh - 230px);
  }

  .nav-link {
    color: white;
  }

  .nav-link.active {
    background-color: #c3a1ba;
  }
}
