<!-- DON'T DELETE, META INFO -->
<% content_for :meta_title, "#{@festival.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @festival.start_date %>
<div class="show-page">
  <h1 class="text-center pt-3 festival-name"><%= @festival.name %></h1>
   <div class="text-center pt-3 festival-name">
      <%= render 'festivals/partials/show-tabs', festival: @festival  %>
    </div>
<div class="filler">
</div>

