// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/footer";
@import "components/button";
@import "festivals/show";
@import "components/instagram";
@import "pages/myfestipal";
@import "pages/show";
@import "components/show-tabs";
@import "components/new-passwords";
@import "components/new-registrations";
@import "components/new-sessions";
@import "festivals/lineup-links";
@import "components/map";
@import "components/reviews";
@import "jquery-bar-rating/dist/themes/css-stars";



// External Fonts
  @font-face {
    font-family: electronicadisplay;
    src: font-url("electronicadisplay.otf");
    src: font-url("electronicadisplay.otf") format('otf');
  }
